#root {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-image: url(./assets/wallpaper.jpg!d);
  background-size: cover;
  background-position: bottom;
}
.header {
  /* font-family: monospace; */
  color: #ff9d00;
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 2rem;
  padding-bottom: 0;
}
.logo {
  height: 70px;
  width: 70px;
}
.footer {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: bolder;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}
.info {
  background-color: rgb(69, 69, 69);
  align-self: center;
  padding: 0.7rem 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 7rem;
}
.scores {
  display: flex;
  gap: 1rem;
}
.infoText {
  font-size: 25px;
  font-weight: 600;
  color: rgb(255, 196, 0);
}
.cards {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}
.card {
  height: 15rem;
  width: 11rem;
  background-color: rgb(224, 75, 0);
  border-radius: 10px;
  padding: 1rem;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  font-family: monospace;
  font-size: 1.3rem;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.1);
  background-color: #c82f00;
}
.cardImage {
  width: 200px;
  height: 200px;
  border: 2px solid white;
  border-radius: 6px;
  object-fit: cover;
}
.score {
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.num {
  font-size: 20px;
  color: rgb(255, 196, 0);
}
.buttonChange {
  align-self: center;
  border: 1px solid rgb(255, 215, 188);
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 600;
  background-color: #ff3700;
  cursor: pointer;
  transition: background-color 0.25s;
}
.buttonChange:hover,
.buttonWin:hover {
  background-color: #c80003;
}
.win {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: grid;
  place-items: center;
}
.winSquare {
  border: 2px solid #ff4000;
  border-radius: 15px;
  background-color: rgb(255, 221, 198);
  padding: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #ff4000;
}
.buttonWin {
  background-color: #ff4000;
  transition: background-color 0.25s;
  padding: 1rem;
  align-self: center;
  border: 1px solid white;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.2rem;
}
/*




















*/
@media screen and (max-width: 800px) {
  #root {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: url(./assets/wallpaper.jpg!d);
  }
  .header {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
  .logo {
    height: 60px;
    width: 60px;
  }
  .content {
    gap: 1.5rem;
    padding-top: 1.2rem;
  }
  .info {
    padding: 0.7rem 1rem;
    justify-content: center;
    gap: 1rem;
    align-self: center;
    width: 15rem;
    margin: 0;
  }
  .scores {
    gap: 1rem;
  }
  .score {
    gap: 0.5rem;
  }
  .infoText {
    font-size: 18px;
  }
  .card {
    height: 10rem;
    width: 7rem;
    padding: 1rem;
    font-size: 1rem;
  }
  .cardImage {
    width: 135px;
    height: 135px;
  }
  .num {
    font-size: 25px;
  }
  .win {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .winSquare {
    border: 3px solid #ff4000;
    padding: 2rem 3rem;
    font-size: 2rem;
    margin: 1rem;
  }
}
